In [1]:
import pandas as pd

In [64]:
#gravando arquivo em um dataframe
customer = pd.read_csv('dados_originais/Sales.Customer.csv',sep=';')

In [59]:
#verificando os tipos de dados
customer.dtypes

CustomerID         int64
PersonID         float64
StoreID          float64
TerritoryID        int64
AccountNumber     object
rowguid           object
ModifiedDate      object
dtype: object

In [60]:
#quantidade de linhas e colunas
customer.shape

(19820, 7)

In [65]:
#Verificando se ha valores nan
customer.isna().sum()

CustomerID           0
PersonID           701
StoreID          18484
TerritoryID          0
AccountNumber        0
rowguid              0
ModifiedDate         0
dtype: int64

In [66]:
#Verificando se ha valores nulos
customer.isnull().sum()

CustomerID           0
PersonID           701
StoreID          18484
TerritoryID          0
AccountNumber        0
rowguid              0
ModifiedDate         0
dtype: int64

In [72]:
#deletando linhas com valores NaN ou Null
customer_mod = customer.dropna()

In [73]:
customer_mod.head(15)

,CustomerID,PersonID,StoreID,TerritoryID,AccountNumber,rowguid,ModifiedDate
19185,29484,291.0,292.0,5,AW00029484,A24C1240-1A8D-427B-91E9-6197F8CF3CAD,2014-09-12 11:15:07.263
19186,29485,293.0,294.0,4,AW00029485,392AE773-D7EC-48AC-B8D0-6E65B770285C,2014-09-12 11:15:07.263
19187,29486,295.0,296.0,3,AW00029486,2A5ABA2E-8DB0-4856-A773-21D185F1679E,2014-09-12 11:15:07.263
19188,29487,297.0,298.0,2,AW00029487,676811A9-9E7F-49AF-BAAC-F6B0B053246E,2014-09-12 11:15:07.263
19189,29488,299.0,300.0,9,AW00029488,EEEE9A74-EAEE-40E7-B4F7-B45E87CCB5A6,2014-09-12 11:15:07.263
19190,29489,301.0,302.0,4,AW00029489,C353FE38-6147-40A3-944D-3736F6297B8C,2014-09-12 11:15:07.263
19191,29490,303.0,304.0,1,AW00029490,7F2D6183-6AEE-4AD1-973D-F45A19B70BF7,2014-09-12 11:15:07.263
19192,29491,305.0,306.0,5,AW00029491,62A7B13E-8AC5-4612-B97C-B16A90856BDD,2014-09-12 11:15:07.263
19193,29492,307.0,308.0,3,AW00029492,7A2EB695-B6B9-48D4-BAD2-BD33E8CE8CA1,2014-09-12 11:15:07.263
19194,29493,309.0,310.0,5,AW00029493,24AD63DE-1E4C-4E27-A9B0-B8C0942630DA,2014-09-12 11:15:07.263
19195,29494,311.0,312.0,6,AW00029494,66D2DC13-4220-43B8-B2C7-131183CAEC34,2014-09-12 11:15:07.263
19196,29495,313.0,314.0,8,AW00029495,B6F7FAAC-0212-4972-B7E8-ABABE19F4302,2014-09-12 11:15:07.263
19197,29496,315.0,316.0,4,AW00029496,44E51EC2-9D0B-40CC-B725-1A3E81DF9519,2014-09-12 11:15:07.263
19198,29497,317.0,318.0,1,AW00029497,EEEF3C65-08F9-49C6-AE12-A2FCDEDACAF5,2014-09-12 11:15:07.263
19199,29498,319.0,320.0,2,AW00029498,7447847B-3887-4E26-AD3E-5355A6B8852D,2014-09-12 11:15:07.263

In [75]:
#nymero de linhas apos limpeza
customer_mod.shape

(635, 7)

In [50]:
#informacoes estatisticas dos dados
customer.describe()

         CustomerID   TerritoryID
count  19820.000000  19820.000000
mean   19844.277094      5.824975
std     6581.785914      3.042676
min        1.000000      1.000000
25%    15253.750000      4.000000
50%    20208.500000      6.000000
75%    25163.250000      9.000000
max    30118.000000     10.000000

In [76]:
#salvando dados manipulados em outro dataset
customer_mod.to_csv('dados_manipulados/customer_dados_manipulados.csv', index=False)