In [1]:
import pandas as pd

In [22]:
#gravando arquivo em um dataframe
person = pd.read_csv('dados_originais/Person.Person.csv',sep=';')

In [5]:
#verificando os tipos de dados
person.dtypes

BusinessEntityID          int64
PersonType               object
NameStyle                 int64
Title                    object
FirstName                object
MiddleName               object
LastName                 object
Suffix                   object
EmailPromotion            int64
AdditionalContactInfo    object
Demographics             object
rowguid                  object
ModifiedDate             object
dtype: object

In [6]:
#quantidade de linhas e colunas
person.shape

(19972, 13)

In [7]:
#Verificando se ha valores nan
person.isna().sum()

BusinessEntityID             0
PersonType                   0
NameStyle                    0
Title                    18963
FirstName                    0
MiddleName                8499
LastName                     0
Suffix                   19919
EmailPromotion               0
AdditionalContactInfo    19962
Demographics                 0
rowguid                      0
ModifiedDate                 0
dtype: int64

In [8]:
#Verificando se ha valores nulos
person.isnull().sum()

BusinessEntityID             0
PersonType                   0
NameStyle                    0
Title                    18963
FirstName                    0
MiddleName                8499
LastName                     0
Suffix                   19919
EmailPromotion               0
AdditionalContactInfo    19962
Demographics                 0
rowguid                      0
ModifiedDate                 0
dtype: int64

In [10]:
#trocando valores NaN por Nulos
person = person.fillna('Null')

In [18]:
#informacoes estatisticas dos dados
person.describe()

       BusinessEntityID  NameStyle  EmailPromotion
count      19972.000000    19972.0    19972.000000
mean       10763.079411        0.0        0.630082
std         5814.133272        0.0        0.781433
min            1.000000        0.0        0.000000
25%         5798.750000        0.0        0.000000
50%        10791.500000        0.0        0.000000
75%        15784.250000        0.0        1.000000
max        20777.000000        0.0        2.000000

In [21]:
#salvando dados manipulados em outro dataset
person.to_csv('dados_manipulados/person_dados_manipulados.csv', header='False', index=False)