In [1]:
import pandas as pd

In [10]:
#gravando arquivo em um dataframe
Product = pd.read_csv('dados_originais/Production.Product.csv',sep=';')

In [11]:
#verificando os tipos de dados
Product.dtypes

ProductID                  int64
Name                      object
ProductNumber             object
MakeFlag                   int64
FinishedGoodsFlag          int64
Color                     object
SafetyStockLevel           int64
ReorderPoint               int64
StandardCost              object
ListPrice                 object
Size                      object
SizeUnitMeasureCode       object
WeightUnitMeasureCode     object
Weight                   float64
DaysToManufacture          int64
ProductLine               object
Class                     object
Style                     object
ProductSubcategoryID     float64
ProductModelID           float64
SellStartDate             object
SellEndDate               object
DiscontinuedDate         float64
rowguid                   object
ModifiedDate              object
dtype: object

In [12]:
#quantidade de linhas e colunas
Product.shape

(504, 25)

In [13]:
#Verificando se ha valores nan
Product.isna().sum()

ProductID                  0
Name                       0
ProductNumber              0
MakeFlag                   0
FinishedGoodsFlag          0
Color                    248
SafetyStockLevel           0
ReorderPoint               0
StandardCost               0
ListPrice                  0
Size                     293
SizeUnitMeasureCode      328
WeightUnitMeasureCode    299
Weight                   299
DaysToManufacture          0
ProductLine              226
Class                    257
Style                    293
ProductSubcategoryID     209
ProductModelID           209
SellStartDate              0
SellEndDate              406
DiscontinuedDate         504
rowguid                    0
ModifiedDate               0
dtype: int64

In [6]:
#Verificando se ha valores nulos
Product.isnull().sum()

ProductID                  0
Name                       0
ProductNumber              0
MakeFlag                   0
FinishedGoodsFlag          0
Color                    248
SafetyStockLevel           0
ReorderPoint               0
StandardCost               0
ListPrice                  0
Size                     293
SizeUnitMeasureCode      328
WeightUnitMeasureCode    299
Weight                   299
DaysToManufacture          0
ProductLine              226
Class                    257
Style                    293
ProductSubcategoryID     209
ProductModelID           209
SellStartDate              0
SellEndDate              406
DiscontinuedDate         504
rowguid                    0
ModifiedDate               0
dtype: int64

In [7]:
#trocando valores NaN por Nulos
Product = Product.fillna('Null')

In [8]:
#informacoes estatisticas dos dados
Product.describe()

,ProductID,MakeFlag,FinishedGoodsFlag,SafetyStockLevel,ReorderPoint,DaysToManufacture
count,504.000000,504.000000,504.000000,504.000000,504.000000,504.000000
mean,673.039683,0.474206,0.585317,535.150794,401.363095,1.103175
std,229.373142,0.499830,0.493157,374.112954,280.584715,1.492616
min,1.000000,0.000000,0.000000,4.000000,3.000000,0.000000
25%,447.750000,0.000000,0.000000,100.000000,75.000000,0.000000
50%,747.500000,0.000000,1.000000,500.000000,375.000000,1.000000
75%,873.250000,1.000000,1.000000,1000.000000,750.000000,1.000000
max,999.000000,1.000000,1.000000,1000.000000,750.000000,4.000000

In [9]:
#salvando dados manipulados em outro dataset
Product.to_csv('dados_manipulados/Product_dados_manipulados.csv', index=False)