In [1]:
import pandas as pd

In [12]:
#gravando arquivo em um dataframe
SalesOrderDetail = pd.read_csv('dados_originais/Sales.SalesOrderDetail.csv',sep=';')

In [13]:
#verificando os tipos de dados
SalesOrderDetail.dtypes

SalesOrderID               int64
SalesOrderDetailID         int64
CarrierTrackingNumber     object
OrderQty                   int64
ProductID                  int64
SpecialOfferID             int64
UnitPrice                 object
UnitPriceDiscount         object
LineTotal                float64
rowguid                   object
ModifiedDate              object
dtype: object

In [14]:
#quantidade de linhas e colunas
SalesOrderDetail.shape

(121317, 11)

In [15]:
#Verificando se ha valores nan
SalesOrderDetail.isna().sum()

SalesOrderID                 0
SalesOrderDetailID           0
CarrierTrackingNumber    60398
OrderQty                     0
ProductID                    0
SpecialOfferID               0
UnitPrice                    0
UnitPriceDiscount            0
LineTotal                    0
rowguid                      0
ModifiedDate                 0
dtype: int64

In [6]:
#Verificando se ha valores nulos
SalesOrderDetail.isnull().sum()

SalesOrderID                 0
SalesOrderDetailID           0
CarrierTrackingNumber    60398
OrderQty                     0
ProductID                    0
SpecialOfferID               0
UnitPrice                    0
UnitPriceDiscount            0
LineTotal                    0
rowguid                      0
ModifiedDate                 0
dtype: int64

In [17]:
#trocando valores NaN por Nulos
SalesOrderDetail = SalesOrderDetail.fillna('Null')

In [8]:
#informacoes estatisticas dos dados
SalesOrderDetail.describe()

,SalesOrderID,SalesOrderDetailID,OrderQty,ProductID,SpecialOfferID,LineTotal
count,121317.000000,121317.000000,121317.000000,121317.000000,121317.000000,121317.000000
mean,57827.363782,60659.000000,2.266080,841.680836,1.162541,905.449207
std,9009.147902,35021.345641,2.491323,86.452124,1.218604,1693.417389
min,43659.000000,1.000000,1.000000,707.000000,1.000000,1.374000
25%,49884.000000,30330.000000,1.000000,768.000000,1.000000,24.990000
50%,57029.000000,60659.000000,1.000000,863.000000,1.000000,134.982000
75%,65490.000000,90988.000000,3.000000,921.000000,1.000000,1120.490000
max,75123.000000,121317.000000,44.000000,999.000000,16.000000,27893.619000

In [18]:
#salvando dados manipulados em outro dataset
SalesOrderDetail.to_csv('dados_manipulados/SalesOrderDetail_dados_manipulados.csv', index=False)