In [1]:
import pandas as pd

In [12]:
#gravando arquivo em um dataframe
SalesOrderHeader = pd.read_csv('dados_originais/Sales.SalesOrderHeader.csv',sep=';')

In [13]:
#verificando os tipos de dados
SalesOrderHeader.dtypes

SalesOrderID                int64
RevisionNumber              int64
OrderDate                  object
DueDate                    object
ShipDate                   object
Status                      int64
OnlineOrderFlag             int64
SalesOrderNumber           object
PurchaseOrderNumber        object
AccountNumber              object
CustomerID                  int64
SalesPersonID             float64
TerritoryID                 int64
BillToAddressID             int64
ShipToAddressID             int64
ShipMethodID                int64
CreditCardID              float64
CreditCardApprovalCode     object
CurrencyRateID            float64
SubTotal                   object
TaxAmt                     object
Freight                    object
TotalDue                   object
Comment                   float64
rowguid                    object
ModifiedDate               object
dtype: object

In [14]:
#quantidade de linhas e colunas
SalesOrderHeader.shape

(31465, 26)

In [5]:
#Verificando se ha valores nan
SalesOrderHeader.isna().sum()

SalesOrderID                  0
RevisionNumber                0
OrderDate                     0
DueDate                       0
ShipDate                      0
Status                        0
OnlineOrderFlag               0
SalesOrderNumber              0
PurchaseOrderNumber       27659
AccountNumber                 0
CustomerID                    0
SalesPersonID             27659
TerritoryID                   0
BillToAddressID               0
ShipToAddressID               0
ShipMethodID                  0
CreditCardID               1131
CreditCardApprovalCode     1131
CurrencyRateID            17489
SubTotal                      0
TaxAmt                        0
Freight                       0
TotalDue                      0
Comment                   31465
rowguid                       0
ModifiedDate                  0
dtype: int64

In [6]:
#Verificando se ha valores nulos
SalesOrderHeader.isnull().sum()

SalesOrderID                  0
RevisionNumber                0
OrderDate                     0
DueDate                       0
ShipDate                      0
Status                        0
OnlineOrderFlag               0
SalesOrderNumber              0
PurchaseOrderNumber       27659
AccountNumber                 0
CustomerID                    0
SalesPersonID             27659
TerritoryID                   0
BillToAddressID               0
ShipToAddressID               0
ShipMethodID                  0
CreditCardID               1131
CreditCardApprovalCode     1131
CurrencyRateID            17489
SubTotal                      0
TaxAmt                        0
Freight                       0
TotalDue                      0
Comment                   31465
rowguid                       0
ModifiedDate                  0
dtype: int64

In [7]:
#trocando valores NaN por Nulos
SalesOrderHeader = SalesOrderHeader.fillna('Null')

In [15]:
#informacoes estatisticas dos dados
SalesOrderHeader.describe()

,SalesOrderID,RevisionNumber,Status,OnlineOrderFlag,CustomerID,SalesPersonID,TerritoryID,BillToAddressID,ShipToAddressID,ShipMethodID,CreditCardID,CurrencyRateID,Comment
count,31465.000000,31465.000000,31465.0,31465.000000,31465.000000,3806.000000,31465.000000,31465.000000,31465.000000,31465.000000,30334.000000,13976.000000,0.0
mean,59391.000000,8.000953,5.0,0.879040,20170.175687,280.607987,6.090768,18263.154426,18249.192563,1.483839,9684.100448,9191.499571,NaN
std,9083.307446,0.030864,0.0,0.326086,6261.728960,4.846965,2.958119,8210.069158,8218.429263,1.304343,5566.299591,2945.170095,NaN
min,43659.000000,8.000000,5.0,0.000000,11000.000000,274.000000,1.000000,405.000000,9.000000,1.000000,1.000000,2.000000,NaN
25%,51525.000000,8.000000,5.0,1.000000,14432.000000,277.000000,4.000000,14080.000000,14063.000000,1.000000,4894.250000,8510.000000,NaN
50%,59391.000000,8.000000,5.0,1.000000,19452.000000,279.000000,6.000000,19449.000000,19438.000000,1.000000,9719.500000,10074.000000,NaN
75%,67257.000000,8.000000,5.0,1.000000,25994.000000,284.000000,9.000000,24678.000000,24672.000000,1.000000,14510.750000,11282.000000,NaN
max,75123.000000,9.000000,5.0,1.000000,30118.000000,290.000000,10.000000,29883.000000,29883.000000,5.000000,19237.000000,12431.000000,NaN

In [16]:
#salvando dados manipulados em outro dataset
SalesOrderHeader.to_csv('dados_manipulados/SalesOrderHeader_dados_manipulados.csv', index=False)